.page-eventos {
    margin-top: 65px;
    @media (max-width: 992px) {
      margin-top: 40px;
    }
    h2 {
      font-weight: 300;
      font-size: var(--font-size-large);
      line-height: 63px;
      text-align: center;
      letter-spacing: -0.02em;
      color: $color-secondary-dark;
      margin-bottom: 42px;
      @media (max-width: 992px) {
        font-size: 22px;
        line-height: 26px;
      }
      span {
        font-weight: 600;
        color: $color-primary-medium;
      }
      strong, b {
        font-weight: 600;
        color: $color-primary-medium;
      }
    }
    h3 {
      float: none !important;
      margin: 26px auto;
      font-weight: 300;
      font-size: var(--font-size-small);
      line-height: var(--line-height-primary);
      text-align: center;
      letter-spacing: -0.02em;
      color:  $color-secondary-dark;
      width: 70%;
      b, strong {
        font-weight: 500;
      }
      @media (max-width: 992px) {
        font-size: 14px;
        line-height: 16px;
      }
    }
    p {
      font-weight: 300;
      font-size: var(--font-size-small)!important;
      line-height: var(--line-height-primary)!important;
      text-align: center;
      letter-spacing: -0.02em;
      margin-bottom: 0;
      color: $color-secondary-dark;
      strong, b {
        font-weight: 600;
      }
      @media (max-width: 992px) {
        font-size: 14px!important;
        line-height: 16px!important;
      }
    }
    .eventos-footer {
      margin: 95px 0;
      @media (max-width: 992px) {
        margin: 45px 0;
      }
      div {
        display: flex;
        align-items: end;
        justify-content: center;
        @media (max-width: 992px)  {
          display: block;
        }
        img {
          margin-right: 23px;
          @media (max-width: 992px) {
            margin: 0;
            max-width: 280px;
          }
        }
        h2 {
          font-weight: 300;
          font-size: var(--font-size-large);
          line-height: 63px;
          letter-spacing: -0.02em;
          color: $color-primary-medium;
          margin-bottom: 0;
          strong {
            font-weight: 600;
          }
          @media (max-width: 992px) {
            font-size: 30px;
            line-height: 35px;
            letter-spacing: -0.02em;
          }
        }
      }
    }
    
    input[type="text"], #_form_4_ ._form_element input[type="text"] {
      font-weight: 500!important;
      font-size: var(--font-size-extrasmall)!important;
      line-height: var(--line-height-primary)!important;
      color: $color-primary-dark!important;
      padding: 9px 31px;
      border: 1px solid $color-primary-dark!important;
      border-radius: 30px!important;
      text-align: left!important;
      @media (max-width: 992px) {
        font-size: var(--font-size-extrasmall)!important;
        line-height: 18px!important;
        padding: 7px 17px!important;
        // width: 90%!important;
        margin: 0 auto;
      }
    }
    #_form_4_ button[type="submit"] {
      @media (max-width: 992px) {
        font-size: 14px !important;
        line-height: 16px !important;
        margin: 0 auto !important;
        padding: 9px 31px!important;
      }
    }
    
    #_form_4_  input[type="text"]:disabled {
      color: $color-grey-bullets!important;
    }
    
    #_form_4_ ._form-title {
      color: $color-secondary-dark!important;
      @media (max-width: 992px)  {
        font-size: 14px!important;
        line-height: 16px!important;
      }
    }
  
    //Isso está sendo controlado pelo SASS do plugin
    // .mt_event_details_subscriptions .mt_column.phone::before {
    //   height: 43px!important;
    // }
    
    .mt_filter_options .mt_filter.select::before {
      display: none!important;
    }
    .mt_filter.select::before {
      display: none!important;
    }
    #mt_subscription_shortcode .mt_filter_options .mt_filter.select::before {
      display: none!important;
    }
    #mt_subscription_shortcode .mt_filter_options .mt_filter.select::before, #mt_employees_shortcode .mt_filter_options .mt_filter.select::before {
      display: none!important;
    }
    .mt_filter_options {
      @media (max-width: 992px) { 
        width: 90%;
        margin: 0 auto;
      }
    }
    .mt_filter {
      .btn-remove {
        font-weight: 700!important;
        font-size: var(--font-size-extrasmall)!important;
        line-height: var(--line-height-primary)!important;
        color: $color-white!important;
        padding: 9px 31px!important;
        background: $color-secondary-dark!important;
        border: 1px solid $color-secondary-dark!important;
        border-radius: 30px!important;
        width: 100%!important;
        &:hover {
          background: transparent!important;
          color: $color-secondary-dark!important;
        }
        @media (max-width: 992px) {
          font-size: 14px!important;
          line-height: 16px!important;
          // width: 90%!important;
          margin: 0 auto!important;
        }
      }
      .btn-primary {
        font-weight: 700!important;
        font-size: var(--font-size-extrasmall)!important;
        line-height: var(--line-height-primary)!important;
        color: $color-white!important;
        padding: 9px 31px!important;
        background: $color-primary-dark!important;
        border: 1px solid $color-primary-dark!important;
        border-radius: 30px!important;
        width: 100%!important;
        &:hover {
          background: transparent!important;
          color: $color-primary-dark!important;
        }
        @media (max-width: 992px) {
          font-size: 14px !important;
          line-height: 16px!important;
          // width: 90%!important;
          margin: 0 auto!important;
        }
      }
      .form-control {
        width: 100%;
        font-weight: 500!important;
        font-size: var(--font-size-extrasmall)!important;
        // line-height: var(--line-height-primary)!important;
        color: $color-primary-dark!important;
        // padding: 9px 31px!important;
        border: 1px solid $color-primary-dark!important;
        border-radius: 30px!important;
        text-align: left!important;
        background: url('images/instrutores/dropdown.png')!important;
        background-position: right 0.75rem center!important;
        background-color: #fff!important;
        background-repeat: no-repeat!important;
        &:active, &:focus {
          box-shadow: none!important;
        }
        @media (max-width: 992px) {
          font-size: var(--font-size-extrasmall)!important;
          line-height: 18px!important;
          padding: 7px 17px!important;
          // width: 90%!important;
          margin: 0 auto;
        }
      }
      .mt_container {
        max-width: 100%!important;
      }
    }
  }